MYSQL_HOST=mysql_hostname
MYSQL_USER=mysql_username
MYSQL_PASSWORD=mysql_password
MYSQL_DB=mysql_database


MONGO_URI=mongo_db_connection
MONGO_DB=mongodb_database
MONGO_COLLECTION=mongodb_collection
